.bw-hover-opa-06:hover{
  opacity: 0.6;
}

.bw-hover-opa-07:hover{
  opacity: 0.6;
}

.bw-hover-opa-1:hover{
  opacity: 1;
}

.bw-hover-bgc-light-10:hover{
  background-color: var(--light-10);
}

.bw-hover-bgc-light-20:hover{
  background-color: var(--light-20);
}

.bw-hover-bgc-light-30:hover{
  background-color: var(--light-30);
}

.bw-hover-bgc-grey-10:hover{
  background-color: var(--grey-20);
}

.bw-hover-bgc-grey-20:hover{
  background-color: var(--grey-20);
}

.bw-hover-bgc-grey-40:hover{
  background-color: var(--grey-40);
}

.bw-hover-bgc-primary-100:hover{
  background-color: var(--primary-100);
}

.bw-hover-bgc-orange-40:hover{
  background-color: var(--orange-40);
}

.bw-hover-bgc-light-40:hover{
  background-color: var(--light-40);
}

.bw-hover-bgc-light-30:hover{
  background-color: var(--light-30);
}

.bw-hover-bgc-blue-tint-0:hover{
  background-color: var(--blue-tint-0);
}

.bw-hover-bgc-blue-tint-20:hover{
  background-color: var(--blue-tint-20);
}

.bw-hover-bgc-blue-tint-60:hover {
  background-color: var(--blue-tint-60);
}

.bw-hover-bgc-blue-tint-80:hover{
  background-color: var(--blue-tint-80);
}

.bw-hover-bgc-primary-300:hover{
  background-color: var(--blue-tint-60);
}

.bw-hover-bgc-primary-400:hover{
  background-color: var(--blue-tint-80);
}

.bw-hover-bgc-primary-500:hover{
  background-color: var(--blue-tint-80);
}
