@import "bw-reset.css";
@import "bw-variables.css";
@import "bw-font.css";
@import "bw-button.css";
@import "bw-color.css";
@import "bw-margin.css";
@import "bw-size.css";
@import "bw-border.css";
@import "bw-display.css";
@import "bw-height.css";
@import "bw-padding.css";
@import "bw-position.css";
@import "bw-width.css";
@import "bw-text.css";
@import "bw-responsible.css";
@import "bw-badge.css";

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: open-sans-regular, sans-serif;
  color: var(--grey-80);
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}
