
.bw-pointer {
  cursor: pointer;
}

.bw-pointer-hover {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.bw-pointer-hover:hover{
  /*opacity: 0.6;*/
}

.bw-opacity-slow{
  transition: opacity 3s
}

.bw-bgc-grey-40-focus:focus{
  background-color: var(--grey-80);
}
